.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    color: #000000;
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    position: relative;
  }
  
  html,
  body,
  * {
    margin: 0;
    box-sizing: border-box;
  }