body {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  background: var(--dash);
}

* {
  margin: 0;
  padding: 0;
}

h1 {
  color: var(--heading);
}

:root {
  --blue: #1e90ff;
  --white: #ffffff;
  --heading: #4e6599;
  --dash: #f6f9fb;
  --placeholder: #8895ae;
  --offWhite: #fbfcfd;
  --textActive: #05112d;
}
